body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
}

h1 {
    margin: 20px 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.form-row {
    display: flex; 
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0cda3c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 800;
}

.submit-button {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0cda3c;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
}

button:hover {
    opacity: 0.9;
}

#output {
    margin-top: 20px;
    width: 100%;
    max-width: 80%;
}

#output table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

#output td {
    border: 1px solid #020202;
    padding: 1px;
    text-align: left;
}

#output th {
    border: 2px solid #020202;
    padding: 8px;
    text-align: left;
}

#output tr:nth-child(even) {
    background-color: #f9f9f9;
}

#output tr:hover {
    background-color: #cccaca;
}


.edit-btn:hover {
    background-color: #525a61;
}

.delete-btn:hover {
    background-color: #74696a;
}

.button-group {
    display: flex;
    gap: 5px;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
}
